<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Add React in One Minute</title>
    <!--
  <link rel="stylesheet" type="text/css" href="/static/sugar/style.css">
-->
</head>

<body>

    <h1 align="center"> btForum </h1>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="/static/pack/react.development.js"></script>
    <script src="/static/pack/react-dom.development.js"></script>
    <script src="/static/pack/jquery.js"></script>
    <!-- Load our React cnent. -->
    <!--
    <script src="/static/login/login.js">
    </script>
-->
    <form id="login" onsubmit="return checkForm()" align="center">
        username: <input type="text" name="username" style="margin:10px 0px;"> <br>
        password: <input type="password" name="password"> <br>
        <div style="margin: 10px;">
        <button type="submit">登录</button>
        <button type="button" id="register" onclick="gotoRegister()">注册</button>
        </div>
    </form>

    <script>
        function gotoRegister() {
            window.location.href="/static/sugar/sugar.html";
        }

        function checkForm() {
            var username = $("input[name=username]").val();
            var password = $("input[name=password]").val();
            //console.log("username : " + username);
            //console.log("password : " + password);
            //window.location.href="/static/sugar/sugar.html";

            // 发送表单
            var json = {
                uname : username,
                password : password,
            };

            function ajax(URL, json) {
                return  promise = new Promise(
                            function (resolve, reject) {
                                var xhr = new XMLHttpRequest();
                                xhr.open("POST", URL, true);
                                xhr.onload = function() {
                                    if (xhr.status === 200 ) {
                                        var resp = JSON.parse(xhr.responseText);
                                        if (resp.code === 200) {
                                            resolve(xhr.responseText);
                                        }
                                        else {
                                            reject(new Error(resp.msg));
                                        }
                                    }
                                    else {
                                        reject(new Error(xhr.statusText));
                                    }
                                };
                                xhr.onerror = function() {
                                    reject(new Error(xhr.statusText));
                                };
                                xhr.send(JSON.stringify(json));
                            }
                        )
            };

            ajax('/login/', json).then(
                function (content) {
                    console.log(content);
                    alert("登录成功");
                }
            ).catch(
                function (err_inf) {
                    console.log(err_inf.message);
                    alert("登录失败\n" + err_inf.message);
                }
            );

            return false;
        }
    </script>

</body>

</html>